<!DOCTYPE html>
<html lang="en">
  <!-- font to HACK 16 -->
<head>
  <title>GRONK ONLINE</title>
  <style>
    body {
        color: #ffffff;
        background-color: #000000;
        margin: 20px;
    }

    h1 {
        padding: 10px 20px;
        border: solid #ffffff 10px;
        margin: 20px;
        display: inline-block;
    }

    label {
        background-color: #222222;
        border: 5px solid #ffffff;
        padding: 5px 10px;
        margin: 20px;
        color: #ffffff;
        font: inherit;
        border-radius: 15px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        border: 2px solid white;
        margin: 10px 20px;
    }

    th,td {
        padding: 5px 20px;
    }
    th {
        background-color: #222222;
        font-weight: bolder;
    }
    tr {
        border: 2px solid white;
    }
    tr.selected {
        background-color: #666666;
    }
    
  </style>
  <script>
    function do_upload() {
        const chooser = document.getElementById("file");
        const form = chooser.form;
        form.submit();
    }

    var selected = {{ selected_idx }};
    
    function select_plot(e) {
        idx = e.target.parentNode.rowIndex - 1;
        if (idx < 0) { return; }
        if (selected >= 0) {
            document.getElementById("plots").rows[selected+1].className = '';            
        }
        var n = e.target.parentNode;
        n.className = 'selected';
        selected = idx;
        var loc = location.href;
        if (loc.indexOf("?") != -1) {
            loc = loc.substring(0,loc.indexOf("?"));
        }
        loc += "?SET="+n.dataset.name;
        fetch(loc);
    }

  </script>
</head>
<body>
  <h1>G R O N K.</h1>
  <div id="explanation">
    Gronk is NYCR's large-format plotter that can handle materials 1m wide and of any length.
    You can learn more about Gronk at our <a href="https://wiki.nycresistor.com/wiki/Gronk">wiki</a>,
    or at its <a href="https://github.com/phooky/gronk">github page</a>.
  </div>
  <div id="status">
    <table id="plots" onclick="select_plot(event);">
      <tr><th>Plot name</th><th>Date uploaded</th></tr>
    {% for plot in plots %}
    <tr {% if curfile == plot[0] %}class="selected"{% endif %} data-name="{{ plot[0] }}"><td>{{ plot[0] }}</td><td>{{ plot[1] }}</td></tr>
    {% endfor %}
    </table>
    After selecting the plot you'd like to run, walk over to the plotter and press the OK button.
  </div>

  <div id="upload">
    <h3>Upload an SVG or GCODE file.</h3>
    <p>The version of GCode that Gronk supports is documented in
      <a href="https://github.com/phooky/gronk/blob/main/README.md">the README file</a>.</p>
    <form method="post" enctype="multipart/form-data">
      <input id="file" name="file" onchange="do_upload();" type="file" hidden />
      <label onclick="document.getElementById('file').click();">Upload SVG or GCODE file</label>
    </form>
  </div>
</body>
</html>
