<!DOCTYPE html>
<html lang="en">
  <!-- font to HACK 16 -->
<head>
  <title>GRONK ONLINE</title>
  <style>
    body {
        color: #ffffff;
        background-color: #000000;
        margin: 20px;
    }

    h1 {
        padding: 10px 20px;
        border: solid #ffffff 10px;
        margin: 20px;
        display: inline-block;
    }

    label {
        background-color: #222222;
        border: 5px solid #ffffff;
        padding: 5px 10px;
        margin: 20px;
        color: #ffffff;
        font: inherit;
        border-radius: 15px;
        text-align: center;
    }
  </style>
</head>
<body>
  <h1>G R O N K ERROR.</h1>
  <div id="explanation">
    {{ exception }}
  </div>
</body>
</html>
