<html>
<head>
    <title>GRONK ONLINE</title>
</head>
<body>
    <h1>This is GRONK, NYCR's largest-format plotter.</h1>
You can send SVG or raw GCode files to GRONK. GRONK uses its own special GCode
    <form method="post" enctype="multipart/form-data">
        <label for="file">File to plot:</label>
        <input id="file" name="file" type="file" />
        <button>Send SVG or GCODE file</button>
    </form>
    Request method was "{}".
</body>
</html>
